
  {{#if rollingData.wartoscCechy}}
    <div class="dice-display">
      {{#if (gte rollingData.wartoscCechy 1)}}<i class="fas fa-dice-d20" title="d20"></i>{{/if}}
      {{#if (gte rollingData.wartoscCechy 2)}}<i class="fas fa-dice-d12" title="d12"></i>{{/if}}
      {{#if (gte rollingData.wartoscCechy 3)}}<i class="fas fa-dice-d10" title="d10"></i>{{/if}}
      {{#if (gte rollingData.wartoscCechy 4)}}<i class="fas fa-dice-d8" title="d8"></i>{{/if}}
      {{#if (gte rollingData.wartoscCechy 5)}}<i class="fas fa-dice-d6" title="d6"></i>{{/if}}
      {{#if (gte rollingData.wartoscCechy 6)}}<i class="fas fa-dice-d4" title="d4"></i>{{/if}}
    </div>
  {{/if}}
