{{#each uzyteWiezi as |wiezi|}}
  <div class='uzyte-wiezi'>
    <label>{{localize
        'chlopcy.czat.uzylesWiezow'
        name=wiezi.name
        wartosc=wiezi.wartosc
      }}</label>
  </div>
{{/each}}