<div class="checha-chcek-box" name="system.cechy.{{cecha}}.wartosc" >
    <input type="checkbox" class="cecha-wartosc"  value=1 {{#if (gte wartosc 1)}}checked{{/if}}>
    <input type="checkbox" class="cecha-wartosc"  value=2 {{#if (gte wartosc 2)}}checked{{/if}}>
    <input type="checkbox" class="cecha-wartosc"  value=3 {{#if (gte wartosc 3)}}checked{{/if}}>
    <input type="checkbox" class="cecha-wartosc"  value=4 {{#if (gte wartosc 4)}}checked{{/if}}>
    <input type="checkbox" class="cecha-wartosc"  value=5 {{#if (gte wartosc 5)}}checked{{/if}}>
    <input type="checkbox" class="cecha-wartosc"  value=6 {{#if (gte wartosc 6)}}checked{{/if}}>
</div>