<div class="pyłek-label">
    <label>{{localize "chlopcy.pylek"}}</label>
    <input type="checkbox" name="system.pod_wplywem_pylku" {{#if system.pod_wplywem_pylku}}checked{{/if}}>
</div>
<div class="przytkanie">
    <div class="kostki">
        <input type="checkbox" name="system.pylek" value=1 {{#if (gte system.pylek 1)}}checked{{/if}} placeholder="1">
        <input type="checkbox" name="system.pylek" value=2 {{#if (gte system.pylek 2)}}checked{{/if}} placeholder="2">
    </div>
        <label div="efekt-pyłku">{{localize "chlopcy.przytkanie"}}</label>
</div>
<div class="krwawienie">
    <div class="kostki">
        <input type="checkbox" name="system.pylek" value=3 {{#if (gte system.pylek 3)}}checked{{/if}} placeholder="3">
        <input type="checkbox" name="system.pylek" value=4 {{#if (gte system.pylek 4)}}checked{{/if}} placeholder="4">
    </div>
        <label div="efekt-pyłku">{{localize "chlopcy.przytkanie"}}</label>
</div>
<div class="odciecie">
    <div class="kostki">
        <input type="checkbox" name="system.pylek" value=5 {{#if (gte system.pylek 5)}}checked{{/if}} placeholder="5">
        <input type="checkbox" name="system.pylek" value=6 {{#if (gte system.pylek 6)}}checked{{/if}} placeholder="6">
    </div>
        <label div="efekt-pyłku">{{localize "chlopcy.przytkanie"}}</label>
</div>