<div class="ssakwy">
    <label class="sakwy-label">{{localize "chlopcy.sakwy"}}</label>
    {{#if (eq system.tagi.bajker.opis (localize "chlopcy.scigacz"))}}
        <input type="checkbox" class="skawy-checkbo" name="system.sakwy" value=1 {{#if (eq system.skawy 1)}}checked{{/if}}>

    {{/if}}
 {{#if (eq system.tagi.bajker.opis (localize "chlopcy.turystyk"))}}
        <input type="checkbox" class="skawy-checkbo" name="system.sakwy" value="1" {{#if (eq system.skawy 1)}}checked{{/if}}>
        <input type="checkbox" class="skawy-checkbo" name="system.sakwy" value="2" {{#if (eq system.skawy 2)}}checked{{/if}}>
        <input type="checkbox" class="skawy-checkbo" name="system.sakwy" value="3" {{#if (eq system.skawy 3)}}checked{{/if}}>
{{/if}}

    {{#else}}
        <input type="checkbox" class="skawy-checkbo" name="system.sakwy" value=1 {{#if (eq system.skawy 1)}}checked{{/if}}>
        <input type="checkbox" class="skawy-checkbo" name="system.sakwy" value=2 {{#if (eq system.skawy 2)}}checked{{/if}}>

    {{/else}}

</div>