<div class="sprzet-osobisty" data-group="primary" data-tab="sprzet_osobisty">
    <label class="sprzet_osobisty-label">{{localize "chlopcy.sprzet_osobisty"}}</label>
    {{editor system.sprzet_osobisty target="system.sprzet_osobisty" engine="prosemirror" button=true owner=owner editable=editable}}
</div>