<div class="sprzet-osobisty">
  <div class="sprzet_osobisty-label">
    <label>{{localize "chlopcy.sprzet_osobisty"}}</label>
  </div>
  <div class="sprzet-osobisty">
    <textarea
      class="sprzet-osobisty-textarea"
      name="system.sprzet_osobisty"
      value="system.sprzet_osobisty"
    >{{system.sprzet_osobisty}}</textarea>
  </div>
</div>