             {{> "systems/chlopcy/tameplates/actor/tab/cechy.hbs"}}
  
        <div class="pylek">
            {{> "systems/chlopcy/tameplates/actor/tab/pylek.hbs"}}
        </div>
        <div class="eq-i-nowe-szlify">
            {{> "systems/chlopcy/tameplates/actor/tab/sprzet-osobisty.hbs"}}
            {{> "systems/chlopcy/tameplates/actor/tab/sakwy.hbs"}}
            {{> "systems/chlopcy/tameplates/actor/tab/nowe-szlify.hbs"}}

        </div>
        <div class="wiezi">
            {{> "systems/chlopcy/tameplates/actor/tab/wiezi.hbs"}}
        </div>