<div class="wspomnienia">
    <h3>{{localize "chlopcy.szczesliweMysli"}}</h3>
        <div class="note-tab" data-group="primary" data-tab="kurta-i-wspomnienia">
            {{editor system.szczesliwe_mysli target="system.szczesliwe_mysli"  engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
</div>