
<div class="wiezi-label">
    <label>{{localize "chlopcy.wiezi"}}</label>
    <button class="dodaj-wiezi" data-tooltip="{{localize "chlopcy.dodaj_wiez"}}"><i class="fas fa-plus"><label class="button-label">{{localize "chlopcy.dodaj_wiezi"}}</label></i></button>
</div>
<div class="wartosc-więz">

        
</div>