<div class="dodawanie-wiezi">
  {{#each othersActors as |actor|}}
    <div class="dodaj-postac" id="{{actor.id}}">
      <img class="borderless-small" src="{{actor.img}}" data-edit="img" />
      <label class="actor-nme-wiezi">{{actor.name}}</label>
      <button class="dodaj-do-katy-wiezi">
        <i for="dodaj-do-katy-wiezi" class="fas fa-user-friends"></i>
      </button>
    </div>
  {{/each}}
</div>