<div class="dodatkowa-KM">
    <div class="naglowek-dodatkowa-km">
        <label> {{localize "chlopcy.dialog.dodatkowa_KM"}}</label>
    </div>
    <h3 class="KM-cechy">{{localize "chlopcy.czat.dostepne_KM"}} {{rollingData.cecha}}</h3>
                <div class="modyfikatory-cechy">
                    {{> "systems/chlopcy/tameplates/chat/partial/cecha-dice.hbs"}}
                </div>
</div>